body, html {background-color: rgb(71,71,71); margin: 0 auto; text-align: center; font-family: "Arial Black", Gadget, sans-serif; height: 100%;}
a {color: black;}

.mor{background-image: url("img_girl.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .bg {height:50%;}
}
